* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Muli, sans-serif;
  min-height: 100vh;
  position: relative;
  color: #444;
}

body::after {
  content: "";
  display: block;
  height: 4rem;
}
a {
  text-decoration: none;
  color : #1f1fea;
}
p {
  font-size: 1.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}